.cont{
	margin: 0 90px;
}

.mheader{
	width: 100%;
}
.mheader .cont{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.mheader .cont img{
	width: 150px;
}
.mheader .cont nav{
	margin-left: 100px;
}
.mheader .cont nav li{
	display: inline-block;
	padding: 0 10px;
}
.mheader .cont nav li a{
	font-family: 'Roboto-regular';
	color: #3D58A6;
	text-decoration: none;
	font-size: 24px;
	text-transform: uppercase;
}

.mheader .cont nav li a:hover{
	opacity: 40%;
}

.socmedia {
	margin-left: 200px;
}

.fa {
	border-right: 2px solid blue;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 30px;
	color: #3D58A6;
}

.fa-search {
	border-right: none;
 	color: red;
}

.mheader .container .socmedia a:hover {
	display: inline-block;
	opacity: 0%;
}
.burger {
	display: none;

}
.burger img{
	width:20px; height:50px;
}
.bannerwr {
	background-color: #bebebe;
	position: relative;


}


.bannerwr .image-container{
	width: 100%;
}


.bannewr .image-container .baner{
	width: 100%;

}
.image-container{
	position: relative;
	padding-bottom: 30px;
	padding-top: 30px;
}
.txtcont{
    font-family: 'Roboto-bold';
	position: absolute;
	top:auto;
	left:2.5%;
	bottom:15%;
	color: white;
	text-transform: uppercase;
	font-size: 20pt;

}
.minilogo{
	position: absolute;
	width: 100px;
	right: 3%;
	bottom: 15%;
}

.video-cont{
	background-color: #363E97;
	height: 500px;
	position: relative;
}

.video-cont .video-header h2 {
	font-family: 'Roboto-bold';
	color: white;
	margin-left: 30px;
	padding-top: 30px;
	font-size: 24pt;
	text-align: center;
}

.video-cont .video-box{
	margin-top: 50px;
	width:560px;
	height: 320px;
	background-color: #bebebe;
	display:inline-block;

	
}
.video-cont .container{
	position: relative;
} 
.video-cont .video-box.right-video{
	position: absolute;
	right: 90px;
	box-sizing: border-box;
}

.video-cont .video-box.left-video .right-video:hover{
	 animation-name: EMBEDED YOUTUBE VIDEO GOES HERE;
	animation-duration: 2s;
	
	
}
.ncont{
	background-color: #BDCCD4;
 padding-bottom: 90px;
 padding-top: 20PX;

}

.nheader {
	font-family: 'Roboto-regular';
	font-size: 24pt;
	color: blue;
	display: inline-block;
}

.ncont  .article-container{
	display: flex;
	justify-content: space-between;
	margin-top:34px;
	flex-wrap:wrap; 
}

.article-item{
	box-shadow:2px 3px 2px black, ;
}
.ncont .article-container .article-item .article-text{
	font-family: 'Roboto-regular';
	width:100%;
	font-size:22px;
	padding: 20px;
	position: relative;
	background-color: #E6E6E6;
	box-sizing:border-box;
	color: #333333;
	
}
.fcon{
	background-color: #E6E6E6;
	height: 400px;
}


.fcont .fbox{
	margin-top: 50px;
	width: 570px;
	height: 225px;
	background-color: #bebebe;
	display: inline-block;
	margin: 90px;
}

.fcont .fbox:hover {
	border: 4px solid red;
}


.fcont .fbox h2{
	font-family: 'Roboto-regular';
	text-transform: uppercase;
	padding: 10px 20px;
	color: red;
	font-size: 22pt;
}


.fcont .fbox p{
	font-family: 'Roboto-regular';
 	font-size: 20pt;
 	color: #333333;
 	padding-top: 15px;
}

.fcont .fbox img{
	margin-left: 10px;
	margin-top: 5px;
	float: left;
	padding-right: 20px;
}


.fcont .fcont{
	position: relative;
} 
.fcont .fbox.right-box{
	position: absolute;
	right: 0;
	box-sizing: border-box;
}

.footer-text h2{
	margin-left:30px;
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block;
}

.footer-text span {
	padding-left: 920px;
}
@media only screen and (max-width: 910px) {
  body .main-header .container nav , .video-container{ 
    display: none;
}

   .burger{ 
  	display:inline-block;
  	width: 5px;
  	margin-right: 50px;


}
   .socmedia{ 
  	display:inline-block;
  	padding-left: 80px;

}

   .mheader img{ 
  	display:inline-block;
}

  .video-cont{ 
  	display:none;
}

  .bannerwr .image-container .baner{ 
  	width: 930px;
  	height: 460px;
  	margin-left: -50px;
}

  .ncont .article-container{ 
  	flex-wrap: nowrap;
    overflow: hidden;
}

   .ncont .nheader span{
   	color: red;
   }


   .article-item {
   	width: 33%;
   	margin: 0 5px;

   }

	.fcont {
	height: 650px;
}
   
   .fcont .fbox{
   	background-color: #F2F2F2;
   	display: flex;
   	flex-wrap: wrap;
   	position: relative;
   	width: 90%;
   	margin-left: 30px;
   }

   .cont .fbox h2 {
   	color: blue;
   }

   .fcont .fbox p {
   	color: #333333;
   }

   .fbox.left-box img{
    position: absolute;
    left: 50px;
    top: 50px;
   }

   .fbox.left-box p{
   	position: absolute;
   	left: 200px;
   	top: 50px;
   }


   .fcontr .fbox.right-box{
   	background-color: #F2F2F2;
   	display: flex;
   	flex-wrap: wrap;
   	position: relative;
   	width: 90%;
   	margin-left: 30px;
   }

   .fbox.right-box img{
    position: absolute;
    left: 70px;
    top: 50px;
   }

   .fbox.right-box p{
   	position: absolute;
   	left: 200px;
   	top: 50px;
   }

  .footer-text h2 {
  	display: none;
  }
  .footer-text span{
  	display: none;
  }

