.cont{
	margin: 0 90px;
}

.mheader{
	width: 100%;
}
.mheader .cont{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.mheader .cont .logo img{
	width: 150px;
}
.mheader .cont img{
	width: 20px;
}
.mheader .cont nav{
	margin-left: 100px;
}
.mheader .cont nav li{
	display: inline-block;
	padding: 0 10px;
}
.mheader .cont nav li a{
	font-family: 'Roboto-regular';
	color: #3D58A6;
	text-decoration: none;
	font-size: 24px;
	text-transform: uppercase;
}

.mheader .cont nav li a:hover{
	opacity: 40%;
}
.mheader .cont .logo{
	width: 150px;
}
.mheader .socmedia{
	margin-left: 0%;
	display: inline;
	width: 30%;
}
.mheader .socmedia img{
	width: 4%;
	height: 4%;
	border-right: 1px solid #3D58A6;
	padding-right: 6%;
	padding-left: 6%;
}
.mheader .container{
	display: flex;
	align-items: center;
}
.mheader .search-box{
	width: 16%;
		border-right: 1px solid #3D58A6;
	padding-right: 6%;
	padding-left: 6%;
}

}
.mheader .search-box img{
	width: 18%;
	margin-left: 3%;
}
.bannerwr {
	background-color: #bebebe;
	position: relative;


}


.bannerwr .image-container{
	width: 100%;
}


.bannewr .image-container .baner{
	width: 100%;

}
.image-container{
	position: relative;
	padding-bottom: 30px;
	padding-top: 30px;
}
.txtcont{
    font-family: 'Roboto-bold';
	position: absolute;
	top:auto;
	left:2.5%;
	bottom:15%;
	color: white;
	text-transform: uppercase;
	font-size: 20pt;

}
.minilogo{
	position: absolute;
	width: 100px;
	right: 3%;
	bottom: 15%;
}

/*video*/
.video-cont{
	background-color: #363E97;
	height: 500px;
	position: relative;
}
 .video-cont .video-header  h2{
	font-family: 'Roboto-bold';
	color: black;
	margin-left: 20px;
	padding-top: 20px;
	font-size: 16pt;
	text-align: center;
	text-anchor: 15px;
}

.video-cont .video-header .h2 {
	font-family: 'Roboto-bold';
	color: white;
	margin-left: 30px;
	padding-top: 30px;
	font-size: 24pt;
	text-align: left;
}

.video-cont .video-box{
	margin-top: 50px;
	width:420px;
	height: 320px;
	background-color: #bebebe;
	display:inline-block;

	
}
.video-cont .cont{
	position: relative;
} 
.video-cont .video-box.right-video{
	position: absolute;
	right: 90px;
	box-sizing: border-box;
}

.video-cont .video-box.left-video .right-video:hover{
	 animation-name: EMBEDED YOUTUBE VIDEO GOES HERE;
	animation-duration: 2s;
	
	
}
.article-container{
	width: 100%;
	background-color: #BDCCD4;
	margin-top:-30px;
	padding: 5% 0%;
}
.article-container img{
	margin-bottom: 35px;
	width: 110%;
}
.article-container .article{
	margin-right: 5%;
	width: 20%;
	position:relative;
}
.article-container .article h2 a{
	text-decoration: none;
	color:black;
}
.article-container .padding .article h2{
	text-transform: uppercase;
	font-family:  'Roboto-regular',sans-serif;
	font-size:1.5vw;
	
}
.article-animation{
	width: 110%;
	padding: 20px 0;
	background-color: #E6E6E6;
	position: absolute;
	bottom: 0;
}
.article-animation h2{
	padding-left: 10px;
}
.article-container .header{
	padding-left: 8%;
	color: white;
	font-family: 'Roboto-regular',sans-serif;
	font-size: 1.5vw;
	margin-top: -30px;
	padding-bottom: 30px;
	color: #363E97;
}
.article-container .header a{
	text-decoration: none;
	color:#363E97;
	transition: 0.3s;
}
.article-container .padding {
	padding: 0 10%;
	display: flex;
	flex-wrap:nowrap;
}
.featured-container{
	background-color: #E6E6E6;

}
.featured-container .header {
	padding: 30px 0;
	padding-left: 8%;
	font-family: 'Roboto-regular',sans-serif;
	font-size: 1.5vw;

}
.featured-container .padding{
	display: flex;
	margin: 0 8%;
	padding-bottom: 4%;	
}
.featured-container .header a{
	text-decoration: none;
	color: black;
	transition: 0.3s;
}
.featured-news h2 {
	text-transform: uppercase;
	padding: 20px;
	margin-bottom: 30px;
	font-family: 'Roboto-regular',sans-serif;
	font-size: 2vw;
	transition: 0.3s;
}
.featured-news .content{
	font-family: 'Roboto-regular',sans-serif;
	font-size: 1.5vw;
	padding-left: 25%;
	margin-bottom: 60px;
	color: #333333;
	opacity: 0.8;
}
.featured-news img{
	width: 90px;
	height: 150px;
	position: absolute;
	top: 25%;
	left: 5%;
}
.featured-news.left-news{
	margin-right: 10px;
}
.featured-news {
	background-color: #F2F2F2;
	position: relative;
	width: 50%;
	transition: 0.1s;
	color: #363E97;
}
.more a{
	font-family: 'Roboto-regular',sans-serif;
	margin:10%;
	margin-bottom: 4%;
	font-size: 1vw;
	color: #363E97;
	text-decoration: none;
	transition: 0.3s;
	position: absolute;
	bottom: 0;
	right: 0;
}
.footer-text h2{
	margin-left:30px;
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block;
}

.footer-text span {
	padding-left: 920px;
}

@media (max-width: 1024px){
	.mheader .cont nav{
		display: none;
	}
	.main-header .container .burger{
		display: block;
	}
	.mheader .cont .socmedia{
	 	margin-left: 60%;
	}
	.video-cont{
		display: none;
	}
	.article-container .article{
		width: 100%;
	}
	.article-container .article img{
		width: 110%;

	}
	.news-container .article-container .padding{
		flex-wrap:nowrap; 
	}
	.article-animation{
		width: 110%;
	}
	.interface,.c-sharp{
		display: none;
	}
	.featured-container .padding{
		display: inline-block;
	}

	.featured-container .header{
		font-size: 3vw;
	}
	.featured-news{
		width: 100%;
		margin: 2%;
		padding: 5% 0;
	}
	.featured-news img{
		padding: 5% 0;

	}
	.featured-news .content{
		font-size: 2vw;
		margin-left: -4%;
	}
	.more a{
		font-size: 2vw;
	}
	.article-container .header{
		font-size: 3vw;
		padding-top: 5%;
	}

}
@media (max-width:768px){
	.mheader .cont .socmedia {
		display: none;
	}
	.mheader .cont .search-box{
		margin-left: 70%;
	}
	.article-animation{
		width: 110.5%;
	}
	.article-animation {
		font-size: 2vw;
	}
	.article-container .padding{
		display: block;
	}
	.article-container .padding .article{
		width: 94%;
		margin-bottom: 5%;
	}






